*~
*.o
proto/*.pb.cc
proto/*.pb.h
conserve
.*.sw[po]
*.py[co]
htmlcov/
.coverage
messages.pot
test-git-staged
duralib/proto/*py
.conserve.sublime*
*.d
conserve.sublime*
tests/*.err
.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.log
config.status
configure
conserve-*.tar.gz
depcomp
install-sh
missing
build
man/conserve.1
compile
