# Controls tests with `cargo mutants`

# Skip some relatively unimportant functions and traits for now.
exclude_re = [
    "<impl Display",
    # spins forever returning empty vecs
    "replace <impl Iterator for IterStitchedIndexHunks>::next -> Option<Self::Item> with Some\\(Default::default\\(\\)\\)",
]

# Include only files that are currently well-tested; most of the others should
# be tested eventually (https://github.com/sourcefrog/conserve/issues/241.
#
# Skip S3 which is hard to test hermetically without AWS creds.
#
# Skip console and progress code which seems like a low priority
# to test.
#
# stats.rs should be tested but is closely tied to formatting, and the
# text format might change.
#
# I test for mutants on Unix so skip Windows code.
examine_globs = [
    "src/apath.rs",
    "src/bandid.rs",
    "src/blockdir.rs",
    "src/blockhash.rs",
    "src/change.rs",
    "src/counters.rs",
    "src/jsonio.rs",
    "src/stitch.rs",
    # "src/restore.rs", # really close but not quite covered
    #     # "src/backup.rs",
    #     "src/bin/conserve.rs",
    "src/transport.rs",
    "src/transport/local.rs",
]

exclude_globs = [
    "backup.rs",            # almost well tested but some gaps
    "metric_recorder.rs",
    "progress.rs",
    "src/hunk_index.rs",    # not well tested yet?
    "src/mount/projfs.rs",  # mostly for Windows
    "src/owner/windows.rs",
    "src/progress/term.rs",
    "src/transport.rs",     # almost well tested but some gaps
    "src/transport/s3.rs",
    "src/ui/termui.rs",
    "stats.rs",
]
